In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
ds_asso= [["우유","라면"],
         ["라면"],
         ["아이스크림","우유"],
         ["과자","라면"],
         ["아이스크림"]]
ds_asso

[['우유', '라면'], ['라면'], ['아이스크림', '우유'], ['과자', '라면'], ['아이스크림']]

In [4]:
#items 중 index 0번이 갖고 있으면 True, 아니면 False
enc = TransactionEncoder()
arr = enc.fit_transform(X= ds_asso)
#위의 함수는 데이터를 행렬의 형태로 반환 -> pandas의 DataFrame의 형태로 변환
ds_pre = pd.DataFrame(arr, columns = enc.columns_)
ds_pre

      과자     라면  아이스크림     우유
0  False   True  False   True
1  False   True  False  False
2  False  False   True   True
3   True   True  False  False
4  False  False   True  False

In [6]:
#최소 지지도
min_support = 0.1

#지지도 계산
ds_freq = apriori(ds_pre, min_support = 0.1, use_colnames = True)
ds_freq.round(3)

   support     itemsets
0      0.2         (과자)
1      0.6         (라면)
2      0.4      (아이스크림)
3      0.4         (우유)
4      0.2     (과자, 라면)
5      0.2     (우유, 라면)
6      0.2  (아이스크림, 우유)

In [8]:
#기준 = 신뢰도, 최소 신뢰도 = 0.5
ds_asso_rule = association_rules(ds_freq, metric = "confidence", min_threshold = 0.5)
ds_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(소주),(콜라),0.667,0.667,0.5,0.75,1.125,0.056,1.333000
1,(콜라),(소주),0.667,0.667,0.5,0.75,1.125,0.056,1.333000
2,(맥주),(콜라),0.500,0.667,0.5,1.00,1.500,0.167,inf
3,(콜라),(맥주),0.667,0.500,0.5,0.75,1.500,0.167,2.000000